body{
    background-color: bisque;
    text-align: center;
    background-image: url(images/img1.jpg);
    background-size: cover;
}

h1{
    background-color: cadetblue;
    padding: 10px;
}

div{
    background-color: pink;
    padding: 10px;
    text-align : center;
    margin:10px 0;
}

p{
    text-align: justify;
    margin: 0 35%;
}